<! -- on "appelle" base.html, auquel va venir se greffer l'html et le css de cette page -->
{% extends "base.html" %}

<! -- on place les balises html de la page dans un block -->
{% block content %}
<div class="column is-4 is-offset-4">
  <h1 class="title has-text-centered mt-6 is-2" style="color: white;">Login</h1>
  <div class="box mt-6" style="border-radius:40px;">
    <! -- Espace pour afficher les messages d'erreur -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger" style="border-radius:290486px;">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form method="POST" action="#">
      <div class="field">
        <div class="control">
          <input
            class="input is-large is-primary is-rounded"
            type="email"
            name="email"
            placeholder="Your Email"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large is-primary is-rounded"
            type="password"
            name="password"
            placeholder="Your Password"
          />
        </div>
      </div>
      <div class="field has-text-centered">
        <label class="checkbox">
          <input type="checkbox"/>
          Rester connecté
        </label>
      </div>
      <button class="button is-block is-primary is-rounded is-large is-fullwidth">
        Login
      </button>
    </form>
  </div>
</div>
{% endblock %}
