{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<title>Feedback - Dashboard</title>
{% endblock %}

{% block content %}
<div class="block" style="background-color: #1C2124;">

<div class="block pt-5 mt-6">
    {% for group in groups %}
    <div class="column is-8 is-offset-2 box" style="background-color:white; border-radius:290486px">
        <div class="columns">
            <span class="column"><h3 class="has-text-centered title">{{ group.name }}</h3></span>
            <div class=" column field column has-addons">
                <div class="control">
                    <a class="button is-primary is-outlined has-text-centered is-rounded" href="{{url_for('feed.newfeeditem', groupId=group.id)}}"> Nouveau feedback </a>
                </div>
                <div class="control">
                    <a class="button is-info has-text-centered is-rounded" href="{{url_for('feed.group', groupId=group.id)}}"> Statistiques </a>
                </div>
                <div class="control">
                    <a class="button is-danger has-text-centered is-rounded" href="{{url_for('feed.deletegroup', groupId=group.id)}}"> Supprimer groupe</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="column is-6 is-offset-3">
    <form method="POST" action="#">

        <div class="field">
            <div class="control">
                <input class="input is-large is-rounded" type="text" name="groupname" placeholder="Nom du groupe" autofocus="">
            </div>
        </div>

        <button class="button is-block is-primary is-large is-fullwidth is-rounded">Créer</button>
    </form>
</div>
</div>

{% endblock %}