{% extends "base.html" %}

{% block content %}

<form method="POST" action="#">

    <div class="field">
        <div class="control">
            <input class="input is-large is-primary" type="text" name="titre" placeholder="Titre" autofocus="">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input is-large is-primary" type="text" name="desc" placeholder="Description">
        </div>
    </div>

    <button class="button is-block is-primary is-large">Créer</button>
</form>

{% endblock %}
{% block styles %}
<style>
    form {
        margin-top: 10%;
    }
    .field {
        width: 50%;
        margin-left: 25%;
    }
    .input {
        border-radius: 100px;
    }
    .button {
        width: 20%;
        margin-left: 40%;
        border-radius: 50px;
    }
</style>
{% endblock %}